{{#each ideas}}
<div class="card card-body mb-2">
    <div class="container">
        <div class="row mb-2" >
        <div class="col-sm-10">
            <h4>{{title}}</h4>
        </div>
        <div class="col-sm-2">
            <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block">Edit</a>
        </div>
    </div>
    <div class="row mb-2" >
        <div class="col-sm-10">
            <p>{{details}}</p>
        </div>
        <div class="col-sm-2">
            <form method="POST" action="/ideas/{{id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="btn btn-danger btn-block" value="Delete">
            </form>
        </div>
    </div>
    </div>
</div>
{{else}}
<p>No video ideas listed</p>
{{/each}}